In [1]:
import pandas as pd

In [31]:
df = pd.read_csv("https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2019-01.csv.gz")

In [9]:
zone = pd.read_csv("https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv")

In [34]:
df = df
len(df)

2811814

In [10]:
zone

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [33]:
print(f'after cleaning,size is {len(df)}')
df = df.dropna()
df["tpep_pickup_datetime"] = pd.to_datetime(df["tpep_pickup_datetime"])
df["tpep_dropoff_datetime"] = pd.to_datetime(df["tpep_dropoff_datetime"])
print(df)
print(f'after cleaning,size is {len(df)}')

after cleaning,size is 7667792
         VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
68268           1  2019-01-01 07:01:20   2019-01-31 14:29:21                1
579459          1  2019-01-03 21:43:46   2019-01-03 21:45:47                1
579460          1  2019-01-03 21:49:22   2019-01-03 21:59:12                1
592224          1  2019-01-03 22:04:40   2019-01-03 22:16:15                1
592225          1  2019-01-03 22:24:36   2019-01-27 10:41:17                1
...           ...                  ...                   ...              ...
7667787         2  2019-01-31 23:57:36   2019-02-01 00:18:39                1
7667788         2  2019-01-31 23:32:03   2019-01-31 23:33:11                1
7667789         2  2019-01-31 23:36:36   2019-01-31 23:36:40                1
7667790         2  2019-01-31 23:14:53   2019-01-31 23:15:20                1
7667791         2  2019-01-31 23:12:49   2019-01-31 23:14:08                1

         trip_distance  RatecodeID store_and_fwd_flag  PULocationID  \
68268             1.20           1                  N            48
579459            0.60           1                  N           263
579460            2.20           1                  N           263
592224            2.50           1                  N           238
592225            1.10           1                  N            50
...                ...         ...                ...           ...
7667787           4.79           1                  N           263
7667788           0.00           1                  N           193
7667789           0.00           1                  N           264
7667790           0.00           1                  N           264
7667791           0.00           1                  N           193

         DOLocationID  payment_type  fare_amount  extra  mta_tax  tip_amount  \
68268             163             2          6.5    0.0      0.5        0.00
579459            141             1          4.0    0.0      0.5        1.50
579460            151             1         10.0    0.0      0.5        1.00
592224            246             1         11.0    0.0      0.5        2.35
592225            170             1          8.5    0.0      0.5        1.85
...               ...           ...          ...    ...      ...         ...
7667787             4             1         18.0    0.5      0.5        3.86
7667788           193             1          0.0    0.0      0.0        0.00
7667789           264             1          0.0    0.0      0.0        0.00
7667790             7             1          0.0    0.0      0.0        0.00
7667791           193             1          0.0    0.0      0.0        0.00

         tolls_amount  improvement_surcharge  total_amount  \
68268             0.0                    0.3          7.30
579459            0.0                    0.3          6.30
579460            0.0                    0.3         11.80
592224            0.0                    0.3         14.15
592225            0.0                    0.3         11.15
...               ...                    ...           ...
7667787           0.0                    0.3         23.16
7667788           0.0                    0.0          0.00
7667789           0.0                    0.0          0.00
7667790           0.0                    0.0          0.00
7667791           0.0                    0.0          0.00

         congestion_surcharge
68268                     0.0
579459                    0.0
579460                    0.0
592224                    0.0
592225                    0.0
...                       ...
7667787                   0.0
7667788                   0.0
7667789                   0.0
7667790                   0.0
7667791                   0.0

[2811814 rows x 18 columns]
after cleaning,size is 2811814